.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow-x: hidden;
}

.selectModePanel {
    position: relative;
    padding: 0;
}

.title {
    font-size: calc(5px + 4vmin);
    text-align: center;
    margin: 0 0 1em 0;
}

.innerPanel {
    position: relative;
}

.button {
    background-color: #fff;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1em;
    color: #333;
    border-radius: 8px;
    padding: 10px 0;
}
.button:last-child {
    margin-bottom: 0;
}

@media (prefers-color-scheme: light) {

    .button {
      background-color: #555;
      color: #fff;
    }

}